.Home{
    background: url('../../assets/home_background.jpg');
    background-size: cover;
    background-position: bottom ;
    
    width: 100vw;


    display: grid;
    grid-template-columns: 10rem 20rem calc(100vw - 30rem);
    grid-template-rows: 10rem calc(80vh - 10rem) 5rem  15rem ;
   



    &__media{
        grid-row: 3/4;
        grid-column: 1/-1;
        

        &-header{
            grid-column: 1/-1;
            grid-row: 1/2;
            background: $color-purple;
            height: 100%;

            &-text{
               text-align: center;
                font-size: 3rem;
                color: rgba(58, 58, 58, 0.931);
                z-index: 6666;
               
               

            }
        }
        &-images{
            grid-row: 4/5;
            grid-column: 1/-1;
            height: 100%;
            width: 100%;
            background: rgba(180, 154, 185, 0.548);
            
            
            
           
        }
    }

}

.image{
    display: flex;
    justify-items: space-between;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
    cursor: pointer;
    
    & img {
        height: 10rem;
        width: 17rem;
        align-self: center;
        fill: #000;
        
    }
   

}