.Home {
  background: url("../../assets/home_background.jpg");
  background-size: cover;
  background-position: bottom;

  display: grid;
  grid-template-columns: 10vw 20vw 45vw 25vw;
  grid-template-rows: 10rem calc(80vh - 10rem) 5rem 15rem;

  &__media {
    grid-row: 3/4;
    grid-column: 1/-1;

    &-header {
      grid-column: 1/-1;
      grid-row: 1/2;
      background: $color-purple;
      height: 100%;

      &-text {
        text-align: center;
        font-size: 3rem;
        color: rgba(58, 58, 58, 0.931);
        z-index: 6666;
      }
    }
    &-images {
      grid-row: 4/5;
      grid-column: 1/-1;
      height: 100%;
      width: 100%;
      background: rgba(180, 154, 185, 0.548);
    }
  }
  &-follow {
    position: relative;
    grid-row: 1/2;
    grid-column: 4/5;
    justify-self: center;
    align-self: center;
    padding: 0.2rem 3rem;
    border: $color-purple 2px solid;
    border-radius: 2rem;
    background: rgba(26, 26, 26, 0.61);
    margin-right: 15%;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    justify-content: center;

    align-content: center;
    margin-top: 1rem;
    position: relative;
    height: 3rem;
    width: 6rem;
    transition: all 0.4s;

    &-text {
    }
    &:hover {
      border: none;
      background: none;
    }

    &:hover &-text {
      display: none;
    }

    &:hover &-icon {
      display: flex;

      margin-right: 1.5rem;
    }

    &-icon {
      display: none;

      &:hover {
      }
      &-box {
        background: rgba(51, 51, 51, 0.198);
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-right: 1rem;

        transition: all 0.4s;

        & svg {
          fill: #fff;
          height: 2rem;
          width: 2rem;
          margin-top: 5px;
        }
      }
    }
  }

 
}

.image {
  display: flex;
  justify-items: space-between;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-top: 2rem;
  cursor: pointer;
  pointer-events: none;

  & img {
    height: 10rem;
    width: 17rem;
    align-self: center;
    fill: #000;
  }
}

.facebook {
  & svg {
    &:hover {
      pointer-events: fill;
      fill: #3b5998;
    }

    & title {
      pointer-events: none;
    }
    & title {
      display: none;
    }
  }
}
.twitter {
  & svg {
    &:hover {
      fill: #1da1f2;
    }
  }
}

.insta {
  & svg {
    &:hover {
      fill: #c13584;
    }
  }
}

.spot {
  & svg {
    &:hover {
      fill: #1db954;
    }
  }
}

.pin {
  & svg {
    &:hover {
      fill: #bd081c;
    }
  }
}

.snap {
  & svg {
    &:hover {
      fill: #fffc00;
    }
  }
}

.mail {
  & svg {
    &:hover {
      fill: #ea4335;
    }
  }
}
.skype {
  & svg {
    &:hover {
      fill: #00aff0;
    }
  }
}

.background {
  grid-column: 1/5;
  grid-row: 1/2;
  background: rgba(61, 5, 78, 0.781);
}


.none{
    display: none;
}
