.mainpage{
    


    &__container{
        grid-row: 2/3;
        grid-column: 2/5;
        display: grid;
        grid-template-rows: 5rem 1fr;
        grid-template-columns: 20rem 1fr;
        
    }
    &__home{
        grid-row: 2/3;
        grid-column: 2/3;
        align-self: center;
        justify-self: start;
        margin-left: 12%;
        ;

        
        

        &-header{
            text-align: center;


            &-1{
                font-size: 9rem;
                color: rgb(250, 250, 250);
               text-shadow: 12px 12px 12px rgb(39, 39, 39);
            }
            &-2{
                font-size: 4.5rem;
                text-transform: capitalize;
                margin-top: -3rem;
                text-shadow: 2px 2px 2px rgb(39, 39, 39);
            }

        }
        &-btn{
            padding: 2rem 1.5rem;
            width: 22rem;
            background: rgba(70, 3, 77, 0.5);
            border-radius: 100px;
            outline: none;
            border: none;
            font-size: 2rem;
            color: #fff;
            border: 2px solid #fff;
            cursor: pointer;
            transition: all .2s;

            &:hover{
                background: rgba(32, 1, 36, 0.719);
            }

        }
    }
}