.nav {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: start;
    align-self: center;
    cursor: pointer;
    height: 132px;
    width: 66px;
    
    border-radius: 0 70vh 70vh 0;
    background: rgba(185, 0, 102, 0.719);
    transition: all .5s ease-in;
    &:hover{
      background: rgba(139, 3, 192, 0.719);
    }
    &-big{
        grid-row: 2/3;
        grid-column: 1/2;
        background: linear-gradient(rgba(109, 4, 100, 0.6288) 0%, rgba(109, 4, 100, 0.61)100%), url('../../assets/regal.png');
        height: 100%;
        width: 35rem;
        border-radius: 0 80vh 80vh 0;
        position: relative;
        justify-self: start;
        align-self: center;
        
        transition: all .5s;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 27% auto;
    }

    &-box{
        margin-left: 1rem;
        height: 5rem;
        width: 5rem;
        position: absolute;
        top: 34%;
        right: 5%;
        
        
        
        &-1{
       
        height: 5rem;
        width: 5rem;
        padding: 2rem;

        position: absolute;
        top: 35%;
        right: 5%;
        cursor: pointer;
        }

       


    }
    

    &-1 {
      height: 3px;
      width: 3.5rem;
      background: black;
      opacity: 1;
      
      transition: all 0.2s;
    }
    &-2 {
      height: 3px;
      width: 3.5rem;
      background: black;
      margin-top: 0.9rem;
      transition: all .3s;
    }
    &-3 {
      height: 3px;
      width: 3.5rem;
      background: black;
      margin-top: 0.9rem;
      transition: all .3s;
    }
    &-4 {
      transition: all .2s;
      opacity: 0;
    }
    &-5 {
      transition: all 0.3s;
      transform: skewY(50deg);
      width: 55%;
      margin: 0;
      background: #fff;
    }
    &-6 {
      transition: all 0.3s;
      transform: skewY(-50deg);
      width: 55%;
      margin: 0;
      background: #fff;

      
    }
    &-8{
      margin-left: .23em;
    }

    &__menu{
      grid-row: 2/3;
      grid-column: 1/2;
      margin-left: 15%;
      list-style: none;


      &-item{
        font-size: 2.5rem;
        list-style: none;
        cursor: pointer;
        transition: all .21s;

        &:hover{
          color: rgb(107, 1, 110);
         
        }

        &:not(:last-child){
          margin-bottom: .5rem;
        }

      }
    }
  }



  @keyframes menu{
    0%{
      opacity: 0,

    }
    75%{
      opacity: 0,
    }
    100%{
      opacity: 1
    }
  }